<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.appplant.cordova.plugin.lib">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <provider
            android:name="de.appplant.cordova.plugin.notification.util.AssetProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/localnotification_provider_paths"/>
        </provider>
        <receiver
            android:name="de.appplant.cordova.plugin.localnotification.TriggerReceiver"
            android:exported="false" />

        <receiver
            android:name="de.appplant.cordova.plugin.localnotification.ClearReceiver"
            android:exported="false" />

        <service
            android:name="de.appplant.cordova.plugin.localnotification.ClickReceiver"
            android:exported="false" />

        <receiver
            android:name="de.appplant.cordova.plugin.localnotification.RestoreReceiver"
            android:directBootAware="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>